.reg-btn{
    
    width: 80%;
    margin: 0 auto;
    display: block;    
}
.register-page{
    input{
        border:1px solid #eee;
        width:86%;
        margin: 20px auto;
        display: block;
        height: 36px;
        text-indent: 5px;
    }
}
