 /*热搜*/
 .search-title{
    
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px;
    margin:0px;    
}
.hotlist{

    padding: 5px;
}
.hotlist p{
    padding:10px 0px;
}

.hotlist span{
    padding: 5px 10px;
    background: #eee;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}

.history{
    border-top:10px solid #eee;
    padding: 5px;
    font-size: 14px;
}



//列表

.sub-header{

height: 40px;
line-height: 40px;
position: fixed;
top: 70px;
width: 100%;
border-bottom:1px solid #eee;
display: flex;
z-index: 2;
background: #eee;

div{
    flex: 1;
    text-align: center;
}
}

.list-content {
    margin-top: 40px!important;
}
