
.mb10 {
    margin-bottom: 1rem;
}

.p-content{
    background: #efefef;
    .shops{
        .p-img{
            width:100%;
            height: 20rem;
            img{
                width:100%;
                height: 20rem;                
            }
        }
        /*标题价格*/
        .p-info{
            background: #fff;
            padding:1rem;
        
            .p-title{
            

                h2{
                    font-size: 1.6rem;
                    margin: 0px;

                }
                p{
                    font-size: 1.4rem;

                    color:#666;
                }
            }

            .product-price{              
                .old-price{
                    color: #666;
                    text-decoration:line-through;
                }
                .price{
                    color: #f23030;
                    font-size: 2.4rem;
                }
            }
        }

        //属性


        .p-attr{
            /*颜色属性*/

            padding:1rem;
            background: #fff;
            /*颜色属性*/ 
            .color {
                padding-bottom:.5rem;
                 
                span{  
                    display: inline-block;
                    padding:.5rem 1rem;
                    margin-right:.5rem;
                    border:1px solid #eee;
                    border-radius: .5rem;
                    margin-bottom: .5rem;                    
    
                }   
                .active{
                    border:2px solid #f23030;
                }
            }
             /*数量*/
             .number{
                padding-bottom: .5rem;
                .cart-number{                    
                    width:100px;
                    display: flex;
                    float: right;
                
                    .input-left,.input-right{
                            width: 38px;                   
                            height: 28px;
                            line-height: 28px;                                
                            text-align:center;
                            background: #f8f8f8;
                            border:1px solid #f8f8f8;
                    }
                    .input-center{
                            flex: 1;
                            height: 28px;
                            line-height: 28px;    
                            input{
                                border:1px solid #f8f8f8;
                                height: 28px;
                                line-height: 28px;    
                                width: 100%;
                                text-align: center;
                            }
                    }
                    
                }
            }
        }

          /*运费颜色*/

        .fee{
            background: #fff;
            padding: 1rem;
        }

    }
    .details{
        padding: 10px;
    }
}



.footer-bar{
    display: flex;
    .carticon{
        position: relative;
        width: 66px;
        text-align: center;
        ion-icon{
            color: #999;
            font-size: 28px;
        }
        p{
            color: #999;
            font-size: 14px;
        }
        ion-badge{
            position: absolute;
            right: 5px;
            top: -2px;
            border-radius: 5px;
        }
    }
    .addcart{
        flex: 1;
        height: 44px;
        line-height: 44px;
        text-align: center;
        color:#fff;
        background: orange;
        font-size: 16px;
    }
    .buy{
        flex: 1;
        height: 44px;
        line-height: 44px;
        text-align: center;
        color: #fff;
        background: red;
        font-size: 16px;
    }
}
